JWT_SECRET_KEY = "CHANGEME"

ADMIN_EMAIL = "admin@admin.ru"
ADMIN_PASSWORD = "admin"
ADMIN_NAME = "Администратор"
ADMIN_SURNAME = "Сайта"

ENV_TYPE = "prod"

PG_HOST = "postgres"
PG_PORT = "5432"
PG_USER = "postgres"
PG_PASSWORD = "postgres"
PG_DB = "soloviniy_prud"

SMTP_SECRET_CODE = "test12345"